@font-face {
  font-family: "LubalinGraphStd-Demi";
  src: url("fonts/LubalinGraphStd-Demi.eot");
  src: url("fonts/LubalinGraphStd-Demi.eot?#iefix") format("embedded-opentype"),
    url("fonts/LubalinGraphStd-Demi.woff2") format("woff2"),
    url("fonts/LubalinGraphStd-Demi.woff") format("woff"),
    url("fonts/LubalinGraphStd-Demi.ttf") format("truetype");
}

html {
  font-family: HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman,
    HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica,
    Tahoma, Geneva, Arial, sans-serif;
}

body {
  padding: 20px;
  color: #292b2c;
}

header {
  display: flex;
  margin-bottom: 40px;
}

header img {
  position: absolute;
}

header h1 {
  font-family: "LubalinGraphStd-Demi";
  margin: 30px auto;
  color: #ec7660;
}

/* h3 {
  margin: 10px;
  font-weight: 300;
} */

.logo {
  width: 10%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.box {
  position: relative;
  top: -25px;
  z-index: 1;
  border: 3px solid #ec7660;
  border-radius: 6px;
}

#box1 {
  grid-area: 1 / 1 / 1 / 1;
}

#box2 {
  grid-area: 2 / 1 / 3 / 1;
  text-align: center;
}

#box3 {
  grid-area: 3 / 1 / 4 / 1;
}

#box4 {
  grid-area: 1 / 2 / 2 / 2;
}

#box5 {
  grid-area: 2 / 2 / 3 / 3;
}

#box6 {
  grid-area: 3 / 2 / 4 / 3;
}

.grid2 {
  grid-area: 1 / 3 / 4 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

#box7 {
  grid-row-start: 1;
  grid-row-end: 1;
}

.titles {
  font-family: "LubalinGraphStd-Demi";
  position: relative;
  z-index: 2;
  top: -20px;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #ec7660;
  color: #f9f9f9;
  border-radius: 2px;
  box-shadow: 4px 4px 5px -1px rgba(224,224,224,0.86);
}

h3 {
  font-weight: 300;
  margin: 10px 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}

#me {
  width: 50%;
  border-radius: 50%;
  text-align: center;
  margin: 40px 0 20px 0;
}

#quote {
  font-size: 40px;
  font-style: italic;
  text-align: center;
  padding: 30px;
  font-weight: 400;
}
