@font-face {
  font-family: "LubalinGraphStd-Demi";
  src: url("fonts/LubalinGraphStd-Demi.eot");
  src: url("fonts/LubalinGraphStd-Demi.eot?#iefix") format("embedded-opentype"),
    url("fonts/LubalinGraphStd-Demi.woff2") format("woff2"),
    url("fonts/LubalinGraphStd-Demi.woff") format("woff"),
    url("fonts/LubalinGraphStd-Demi.ttf") format("truetype");
}

html {
  font-family: HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman,
    HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica,
    Tahoma, Geneva, Arial, sans-serif;
}

body {
  padding: 10px;
  color: #292b2c;
}

header {
  display: flex;
  margin-bottom: 40px;
}

header img {
  position: absolute;
  width: 150px;
  height: auto;
}

header h1 {
  font-family: "LubalinGraphStd-Demi";
  margin: 40px auto;
  color: #ec7660;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 1;
  margin: 10px;
}

main .column .box {
  min-height: 350px;
  flex: 1;
  flex-basis: 300px;
  flex-shrink: 1;
  position: relative;
  top: -15px;
  margin-bottom: 40px;
  border: 3px solid #ec7660;
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0.313vw 0.313vw 0.391vw -0.078vw rgba(224, 224, 224, 0.86);
  transition: transform 0.2s;
}

main .column .box1 {
  min-height: 450px;
}

/* .box:hover {
  transform: scale(1.2);
  z-index: 10;
  transition: transform 0.2s;
} */

.titles {
  font-family: "LubalinGraphStd-Demi";
  position: relative;
  z-index: 2;
  top: -25px;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #ec7660;
  color: #f9f9f9;
  border-radius: 2px;
  box-shadow: 0.313vw 0.313vw 0.391vw -0.078vw rgba(224, 224, 224, 0.86);
}

h4 {
  font-weight: 300;
  margin: 10px 20px;
  padding-top: 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
}

#box-me {
  text-align: center;
}

#me {
  width: 50%;
  border-radius: 50%;
  margin: 20px 0 10px 0;
}

#quote {
  text-align: center;
}

q {
  font-size: 50px;
  font-style: italic;
  padding: 20px;
}

@media (orientation: portrait) and (max-width: 768px) {
  header img {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  header h1 {
    margin: 100px auto 20px auto;
  }

  main .column {
    flex-basis: 600px;
  }

  #me {
    width: 40%;
    margin: 10px;
  }

  h4 {
    padding-bottom: 20px;
  }

  q {
    font-size: 25px;
  }

}
